/* .main{
  width: 500px;
  height: 470px;
  margin: 51px 678px;
  font-size: 18px;
} */

/* #form-heading{
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  text-align: center;
} */


/* 
form div {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  gap: 3px;
} */